.container {
	/*width:100%;*/
	/*border:1px solid #d3d3d3;*/
	padding-top:10px;
	/*padding-left:5px;*/
}
/*.container div {
	width:98%;
	margin-bottom: 3px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	border-radius: 10px;
	border-color: #ddd;
}
.container .header {
	background-color:#02a5f7;
	padding: 10px;
	cursor: pointer;
	font-weight: bold;
}
.container .content {
	display: none;
	padding : 10px;
}
.query * {
  vertical-align: top;
}
input, select {
    width: 200px;
    border: 1px solid #000;
    padding: 0;
    margin: 0;
    height: 22px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
label {
		width: 5%;
		float: left;
		text-align: left;
}
p {
	width:98%;
	margin-bottom: 3px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	border-radius: 10px;
	border-color: #ddd;
	padding-left:10px;
	padding-bottom:10px;
}
.button {
	background-color: #02a5f7; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
}*/